//HEADINGS
h1{
  font-size: 48px;
  line-height: 52px;
  @media only screen and (max-width: 768px){
    font-size: 32px;
    line-height: 36px;
  }
}
h2{
  font-size: 36px;
  line-height: 40px;
}
h3{
  font-size: 24px;
  line-height: 28;
}
h4{
  font-size: 21px;
  line-height: 25px;
}
h5{
  font-size: 18px;
  line-height: 22px;
}
h6{
  font-size: 16px;
  line-height: 20px;
}

// CONTENT
p{
  font-size: 16px;
  line-height: 20px;
}
.large-text{
  font-size: 18px;
  line-height: 22px;
}

// OTHERS
a, label, li, .btn{
  font-size: 14px;
  line-height: 18px;
}
