// Variables
$primary-color: #be1522;
$secondary-color: #db0011;
$text-color: #20211f;
$white: #ffffff;

// Set default values
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.85rem;
}
.btn {
  border-radius: 10px;
  background-color: $secondary-color;
  color: white;
  font-size: 0.85rem;
}
.nav-link {
  position: relative;
  color: $text-color;
  &:hover {
    color: $secondary-color;
  }
  &:focus {
    color: $secondary-color;
  }
  &:hover::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    background: $secondary-color;
    width: 100%;
  }
}
