@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');
$primary-color: #be1522;
$secondary-color: #f7f7f7;
$text-color: #20211f;
$white: #ffffff;
:root {
  --bs-body-font-family: 'Poppins', sans-serif;
}
