@import './_variables.scss';
@import './_fonts.scss';

body {
	font-family: 'Poppins', sans-serif;
}

//Buttons
.btn {
	border: 2px solid $primary-color;
	border-radius: 10px;
	background-color: $primary-color;
	color: white;
	&:hover {
		color: #ffffff;
	}
}
.btn-outline {
	border: 2px solid $primary-color;
	background-color: white;
	color: $primary-color;
	&:hover {
		color: $primary-color;
	}
}

//Navigation
.nav-link {
	color: $text-color;
	position: relative;
	&:hover {
		color: $primary-color;
	}

	&:hover::before {
		content: '';
		position: absolute;
		bottom: 0;
		height: 3px;
		background: $primary-color;
		width: 100%;
	}
}
.gallery {
	display: grid;
	grid-template-columns: repeat(12, 1fr) !important;
	grid-template-rows: repeat(9, 5rem) !important;
	grid-gap: 16px;
}
.section-heading-paragraph {
	max-width: 40rem;
}
.gallery-item-01 {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 4;
}
.gallery-item-02 {
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 4;
}
.gallery-item-03 {
	grid-column-start: 7;
	grid-column-end: 10;
	grid-row-start: 1;
	grid-row-end: 7;
}
.gallery-item-04 {
	grid-column-start: 10;
	grid-column-end: 13;
	grid-row-start: 1;
	grid-row-end: 4;
}
.gallery-item-05 {
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 4;
	grid-row-end: 7;
}
.gallery-item-06 {
	grid-column-start: 10;
	grid-column-end: 13;
	grid-row-start: 4;
	grid-row-end: 7;
}
.gallery-item-07 {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 7;
	grid-row-end: 10;
}
.gallery-item-08 {
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 7;
	grid-row-end: 10;
}
.gallery-item-09 {
	grid-column-start: 7;
	grid-column-end: 10;
	grid-row-start: 7;
	grid-row-end: 10;
}
.gallery-item-10 {
	grid-column-start: 10;
	grid-column-end: 13;
	grid-row-start: 7;
	grid-row-end: 10;
}
.gallery-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container-fluid {
	background-color: #f7f7f7;
}
