@import "./variables.scss";
@import "./fonts.scss";

body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.85rem;
}

//Buttons
.btn {
  border-radius: 10px;
  background-color: $primary-color;
  color: white;
  font-size: 0.85rem;
  padding: 1.1rem 2.5rem;
  &:hover{
    color: #ffffff;
  }
}
.btn-outline{
  border: 2px solid $primary-color;
  background-color: white;
  color: $primary-color;
  &:hover{
    color: $primary-color;
  }
}

//Navigation
.nav-link {
  color: $text-color;
  position: relative;
  &:hover {
    color: $primary-color;
  }

  &:hover::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    background: $primary-color;
    width: 100%;
  }
}